# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/

# Cache
.cache/
.tmp/

# Variáveis de ambiente
.env
.env.*
